{% extends 'accounts/main.html' %}

{%block content%}

<div class="container">
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5 class="text-center">Customer</h5>
				<hr>
				<a href="" class="btn btn-outline-info btn-sm btn-block">Update Customer</a>
				<a href="" class="btn btn-outline-danger btn-sm btn-block">Delete Customer</a>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5 class="text-center">Customer Data</h5>
				<hr>
				<p>Email:{{customers.email}}</p>
				<p>Phone:{{customers.phone}}</p>
			</div>
		</div>

		<div class="col-md">
			<div class="card card-body">
				<h5 class="text-center">Total Orders</h5>
				<hr>
				<h1 style="text-align: center; padding: 10px">{{count_order}}</h1>
				
			</div>
		</div>
	</div>


	<br>

	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<hr>
					<tr>
						<th>Products</th>
						<th>Category</th>
						<th>Ordered Date</th>
						<th>Status</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
					
				</table>
			</div>
		</div>
		
	</div>
</div>

{%endblock%}