{% extends 'accounts/main.html' %}
{% block content%}
<div class="container">
	<br>
	<div class="row">
		<div class="clo-md">
			<div class="card card-body">
				<h5 class="text-center">Products</h5>
			</div>
			<hr>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>Products</th>
						<th>Category</th>
						<th>Price</th>
						<th>date created</th>
					</tr>
					{% for products in products %}
					<tr>
						<td>{{products.name}}</td>
						<td>{{products.category}}</td>
						<td>{{products.price}}</td>
						<td>{{products.date_created}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			
		</div>
	</div>
</div>
{% endblock%}